page-informacion {
    
    .perfil{
        width: 130px;
    }
    .miopia{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background: linear-gradient(#ff5f57, #FFF);
    }

    
    
}

